{% macro headBlock(api) %}
# {{ api.info.title }} {{ api.info.version }}
{% if api.consumes %}
> ### Consumes  
{% for contentType in api.consumes %}
> `{{ contentType }}`  
{% endfor %}

{% endif %}{#api.consumes#}
> ### Produces
{% if api.produces %}
{% for contentType in api.produces %}
> `{{ contentType }}`  
{% endfor %}

{% endif %}{#api.produces#}
{% if api.securityDefinitions %}
{% for title, securityScheme in api.securityDefinitions %}
### Authorization: {{ title }}
Type |{% if securityScheme.type == 'apiKey' %} Name | In |{% endif %} Description
--- |{% if securityScheme.type == 'apiKey' %} --- | --- |{% endif %} ---
{{ securityScheme.type }} |{% if securityScheme.type == 'apiKey' %} {{ securityScheme.name }} | {{ securityScheme.in }} |{% endif %} {{ securityScheme.description|multilineInTable }}
{% endfor %}

{% endif %}{#api.securityDefinitions#}
{% endmacro %}

{# #################################################################################### #}

{% macro renderModels(api) %}
# Models
{% for name, data in api.definitions %}
{% set model = data|newSchema %}
## {{ name }}
```json
{{ model.getObject()|json_encode(constant('JSON_PRETTY_PRINT')) }}
```
{% if model.description %}

{{ model.description }}

{% endif %}	
### Fields
{{ _self.renderFields(model) }}
	
{% endfor %}{# definition #}
{% endmacro %}

{# #################################################################################### #}

{% macro renderFields(model) %}
Name | Type | Description
--- | --- | ---
{% for name, schema in model.properties %}
{{ name }}{% if name in model.required %}<span title="required" class="required">&nbsp;*&nbsp;</span>{% endif %} | {{ schema }} | {{ schema.description|multilineInTable }}{{ _self.enum(schema.enum) }}
{% endfor %}
{% endmacro %}

{# #################################################################################### #}

{% macro request(api, httpAction, action, endPoint) %}
```http
{{ httpAction|upper }} {{ api.basePath }}{{ endPoint }} HTTP/1.1
{% set parameters = action.parameters|newParameters %}
{% for parameter in parameters.getHeaderParameters() %}
{% if parameter.type == 'array' %}
{% set type = parameter.items.type %}
{{ parameter.name }}: {{ type }}
{% else %}
{% set type = parameter.type %}
{% endif %}
{{ parameter.name }}: {{ type }}
{% endfor %}
{% set body = parameters.getBodyObject() %}
{% if body %}
Content-Type: {{ api.consumes[0]|default('application/json') }}

{{ body|json_encode(constant('JSON_PRETTY_PRINT')) }}
{% endif %}
```
{% endmacro %}

{# #################################################################################### #}

{% macro renderActions(api, endPoint, actions) %}
{% for httpAction, action in actions %}
## {{ action.summary }}

{{ _self.request(api, httpAction, action, endPoint) }}	
{% for code, response in action.responses %}
```http
HTTP/1.1 {{ code == "default" ? "[default]" : code }} {{ code|textStatus }}
{% for contentType, response in response.examples|slice(0,1) %}
Content-Type: {{ contentType }}

{{ response|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_UNICODE')) }}	
{% else %}
{% if response.schema %}
Content-Type: {{ api.produces[0]|default('application/json') }}

{% set model = response.schema|newSchema %}
{{ model.getObject()|json_encode(constant('JSON_PRETTY_PRINT')) }}
{% endif %}{#response.schema#}
{% endfor %}{#contentType, response in response.examples|slice(0,1) %}#}
```
{% endfor %}{#code, response in action.responses#}
{% if action.description %}

{{ action.description }}

{% endif %}{#action.description#}

{% if action.parameters %}
{% set parameters = action.parameters|newParameters %}
### Parameters
Name | In | Type | Description
--- | --- | --- | ---
{% for parameter in parameters %}
{{ parameter.name }}{% if parameter.required %}<span title="required" class="required">&nbsp;*&nbsp;</span>{% endif %} | {{ parameter.in }} | {{ parameter }} | {% if not parameter.required %}Optional. {% endif %}{{ parameter.description|multilineInTable }}
{% endfor %}

{% endif %}{#action.parameters#}
### Responses
Http code | Type | Description
--- | --- | ---
{% for status, data  in action.responses %}
{% if data.schema %}
{% set model = data.schema|newSchema %}
{% else %}
{% set model = 'no content' %}
{% endif %}{#data.schema#}
{{ status }} | {{ model }} | {{ data.description|multilineInTable }}
{% endfor %}{#status, data  in action.responses#}

{% endfor %}{# httpAction, action in actions #}
{% endmacro %}

{# #################################################################################### #}

{% macro enum(list) %}
{% spaceless %}
{% if list %}
    {% if list|length < 10 %}
        <div>Acceptable values:</div>
        <ul class="enum">
            {% for value in list %}
            <li>{{ value }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div><a class="pseudo" href="javascript:void(0)" onclick="$(this).parent().next().slideToggle();">Acceptable values</a>:</div>
        <ul class="enum" style="display: none">
            {% for value in list %}
                <li>{{ value }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
{% endspaceless %}
{% endmacro %}
